/*  Tipo de letra */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Ubuntu:wght@500&display=swap');


body {
    padding: 0;
    margin: 0;
    font-family: 'Fuzzy Bubbles', cursive;
    background: rgb(125, 229, 237);
    background: linear-gradient(270deg,
            rgba(125, 229, 237, 1) 6%,
            rgba(107, 153, 208, 1) 85%,
            rgba(85, 120, 173, 1) 100%);
}

/* Sección de selección de mascotas */
#seleccionar_mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Título principal */
.titulo {
    font-size: 3em;
    font-weight: 900;
}

/* Subtitulo */
.subtitulo {
    font-size: 30px;
}

/* Animación de tipo maquina para el título */
h1 span {
    display: block;
    white-space: nowrap;
    border-right: 3px solid transparent;
    width: 12ch;
    animation: typing 2s steps(12),
        blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

/* Opciones  de las mascotas a escoger */
.tarjetas {
    display: flow-root;
    gap: 10px;
}

/* Estilos a cada una de las opciones de mascota */
.tarjeta_n64 {
    width: 180px;
    height: 100px;
    background: rgba(165, 241, 233, 0.3);
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
    border: 1.5px solid #A5F1E9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tarjeta_n64:hover{
    box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
    transform: translateY(-3%);
}

/* Íconos en las tarjetas */
.tarjeta_n64 img {
    width: 80px;
}

/* Ocultar radios */
input {
    display: none;
}

/* Cambiar color al seleccionar checked */
input:checked + label{
  background-color: rgba(49, 198, 212, 0.5);
  box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
  transform: translateY(-3%);
}


/* Botón de seleccionado de mascota */
#btn_mascota {
    font-family: 'Ubuntu', sans-serif;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

#btn_mascota:hover{
    background-color: rgba(127, 255, 212, 0.5);
    width: 182px;
    height: 42px;
}


/* Sección del ataques */
#seleccionar_ataque {
    flex-direction: column;
    align-items: center;
}

/* Contenedor de los botones de ataque */
.tarjeta_ataque {
    display: flex;
}

/* Botón de ataque */
.btn_ataque {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(225, 255, 238);
    margin: 10px;
    border-radius: 10px;
    border-color: transparent;
    width: 120px;
    height: 30px;
    cursor: pointer;
}

.btn_ataque:hover{
    background-color: rgb(166, 255, 204);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    text-shadow: 1px 1px #fff;
}

/* Resultado del ataque */
#resultado {
    font-size: 2em;
    width: 280px;
    background: rgba(255, 255, 255, 0.556);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Botón de reiniciado */
#btn_reiniciar {
    font-size: 1em;
    font-weight: 600;
    color: rgb(231, 22, 22);
    width: 320px;
    padding: 5px 0 5px 0;
    margin-top: -15px;
    background: rgba(195, 47, 72, 0.5);
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

/* Contenedor de los ataques */
.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    align-items: center;
}

/* Dividir por columnas los ataque de los contrincantes */
.ataques_enemigos, .ataques_jugador{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tarjetas responsive */
@media (max-width: 360px) {
    .tarjetas {
        flex-direction: column;
    }

    .tarjeta_ataque {
        flex-direction: column;
    }

}

/* Títulos responsive */
@media (max-width: 395px){

    .titulo {
        font-size: 2.5em;
    }
    
    .subtitulo{
        font-size: 1.5em;
    }

}